# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage

# Virtual environments
venv/

# Data and model checkpoints
models/
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

